.sidebar-option {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebar-option:hover {
  background-color: var(--twitter-background);
  color: var(--twitter-color);
  border-radius: 30px;
  transition: color 100ms ease-out;
}

.sidebar-option > .MuiSvgIcon-root {
  padding: 20px;
}

.sidebar-option > h2 {
  font-weight: 800;
  font-size: 20px;
  margin-right: 20px;
}

.sidebar-option--active {
  color: var(--twitter-color);
}
